html {
  height: 100%;
  width: 100%;
}
.image{
  heigth:100px;
  width: 100px;
  border-radius: 5rem;
  background-color: green;
  cursor: pointer;
  background: green;
}
body{
  background-color: pink;
}
.tit{
  text-align:center;
  font-size: 30px;
  color: royalblue;
}